<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BankDataEntities" connectionString="metadata=res://*/BankDataBaseContext.csdl|res://*/BankDataBaseContext.ssdl|res://*/BankDataBaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<assemblies>
	<add assembly="System.Runtime, Version = 4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</assemblies>
</configuration>